body {
    background-color: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.light-mode {
    background-color: white;
    color: black;
}

.download-button {
    background-color: #38bdf8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.download-button:hover {
    background-color: #0284c7;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.modal-content {
    text-align: center;
}

.modal input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
}

.modal button {
    background-color: #38bdf8;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.close {
    float: right;
    cursor: pointer;
}

.admin-panel {
    background-color: #1e293b;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.account-settings {
    background-color: #1e293b;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.account-settings input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    }
